## Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

## Location of files

In [4]:
loc_files = os.path.join('..', 'data')
loc_file_titanic = os.path.join(loc_files, 'titanic.xlsx')

## Import titanic and adjust data types

In [5]:
# Import dataset
df_titanic = pd.read_excel(loc_file_titanic, sheet_name="train_minimal")

In [12]:
# Import dataset
df_titanic = pd.read_excel(loc_file_titanic, sheet_name="train_minimal")

# Fill NaN values in age by the average age
idxs_no_age = df_titanic['Age'].isnull()
df_titanic.loc[idxs_no_age, 'Age'] = np.round(df_titanic['Age'].mean())

# Convert data types #
convert_dict_titanic = {
    'PassengerId' : 'category',
    'Sex' : 'category',
    'Age' : int,
    'Embarked' : 'category',
    'Survived' : 'category'
}

df_titanic = df_titanic.astype(convert_dict_titanic)

Pclasses = sorted(list(set(df_titanic['Pclass'])), reverse = True)
df_titanic['Pclass'] = pd.Categorical(df_titanic['Pclass'],
                                        ordered = True,
                                        categories = Pclasses) # 3 < 2 < 1

In [20]:
df_titanic.Sex.dtype

CategoricalDtype(categories=['female', 'male'], ordered=False)